
<form>
  <div class="row">
  <div class="form-group">
    <div class="container">
      <td>
    <label for="exampleInputBook">Book Name</label>
    <input
    class="form-control" 
    type="text" 
    id="newbookListname" 
    placeholder="Book Name" 
    [class.active]="bookList == selectedRow" > {{bookList.bookName}}
  </td>
<td>
    <label for="exampleInputAuthor">Author Name</label>
    <input class="form-control" type="text" id="newbookListisbn" placeholder="Author Name"> {{bookList.bookName}}
  </td>
  <td> 
    <label for="exampleInputISBN">ISBN Code</label>
    <input class="form-control" type="text" id="newbookListavailables" placeholder="ISBN Code"> {{bookList.bookName}}
  </td>
<td>
      <label for="exampleInputAvailablity">Available Books</label>
      <input class="form-control" type="text" id="newbookListpublishing" placeholder="Availability"> {{bookList.bookName}}
    </td>
    </div>
  </div>
</div>

<div class="row">
    <div class="form-group">
      <div class="container-fluid">
        <td>
      <label for="exampleInputDate">Publishing date</label>
      <input class="form-control" type="text" id="newbookListcategory" placeholder="Publishing Date">
    </td>
  <td>
      <label for="exampleInputCategory">Category</label>
      <input class="form-control" type="text" id="newbookListcategory" placeholder="Category">
    </td>
    <td> 
      <label for="exampleInputId">ID</label>
      <input class="form-control" type="text" id="newbookListcategory" placeholder="ID">
    </td>
  <td>
        <label for="exampleInputUser">User Name</label>
        <input class="form-control" type="text" id="UserID" placeholder="User">
      </td>
      </div>
    </div>
  </div>
<!--   
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  
</form>

